@import url(
'https://fonts.googleapis.com/css?family=Roboto'
);

html {
    font-family: Roboto, serif;
    font-style: normal;
}

.header {
    height: 56px;
    background: #FFFFFF;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    height: 27px;
    top: -15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
    padding-right: 10px;
    text-decoration: none;
}

.navigation {
    padding: 0 60px;
}

.navigation a {
    text-decoration: none;
}

.icon {
    padding-left: 10px;
    width: 20px;
    height: 20px;

}

.logo {
    padding-right: 150px;
}

.content {
    justify-content: space-between;
    display: flex;
    height: 554px;
    background: #F0EFEB;
    align-items: center;
    padding: 0 60px 0 150px;
}

.block {
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}

.subtitle {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.image {
    width: 599px;
    height: 521px;
}

.button {
    height: 36px;
    background: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
    padding: 0 25px;
}

